/*-- scss:defaults --*/

$font-family-sans-serif: -apple-system,BlinkMacSystemFont,"BIZ UDGothic" !default;

$body-bg: #fafaf9 !default;
$presentation-font-size-root: 40px !default;


h2{
  border-bottom: 5px solid #007ddd;
}

/*-- scss:rules --*/


.reveal .slides .citation {
    font-size: 30px
}

.reveal .slides .citation a{
    font-size: 30px
}

.reveal .slides > section {
    /* to know the boundary in preview*/

    /*
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    */
    

    /*other settings*/
    word-wrap: break-word;
    color:#121212
  }

.reveal .image{
  background-color: $body-bg;
}
  
.reveal .slides strong{
    color: #ff6200;
}

.reveal .slides em{
    color: rgb(0, 90, 158);
    font-style: normal;
    font-weight: bold;
}

.centered-bordered-box {
    border: 7px solid rgba(22, 115, 186, 0.962); /* adjust border as needed */
    border-radius: 20px;
    padding-top: 5px; /* adjust padding as needed */
    padding-bottom: 5px; /* adjust padding as needed */
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    display: inline-block;
    margin:20px auto;
  }

  

/* arrow : https://hirashimatakumi.com/blog/217.html */
.arrow-round {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 10px;
  border-radius: 5px;
  background-color: #1E88E5;
  vertical-align: middle;
}
.arrow-round::before {
  content: "";
  position: absolute;
  top: 6px;
  right: -2px;
  display: block;
  width: 25px;
  height: 10px;
  border-radius: 5px;
  background-color: #FDD835;
  transform: rotate(-45deg);
}
.arrow-round::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -2px;
  display: block;
  width: 25px;
  height: 10px;
  border-radius: 5px;
  background-color: #e53935;
  transform: rotate(45deg);
}

.arrow-clippath {
  /*position: relative;*/
  display: inline-block;
  width: 70px;
  height: 45px;
  background-color: #1E88E5;
  /*clip-path:  polygon(0 33%, 50% 33%, 50% 15%, 100% 50%, 50% 85%, 50% 67%, 0 67%);*/
  clip-path: polygon(
    0 calc(50% - (35% / 2)),
    60% calc(50% - (35% / 2)),
    60% 0,
    100% 50%,
    60% 100%,
    60% calc(50% + (35% / 2)),
    0 calc(50% + (35% / 2))
  );
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}
 
.arrow-rainbow {
  /*position: relative;*/
  display: inline-block;
  width: 100px;
  height: 50px;
  background: linear-gradient(to right,#920783,#1d2088, #0068b7, #009944,#fff100, #f39800, #e60000);
  clip-path: polygon(0 33%, 50% 33%, 50% 15%, 100% 50%, 50% 85%, 50% 67%, 0 67%);
  vertical-align: middle;
}

.rotate-90 {
  transform: rotate(90deg);
}

.reflect {
  transform: scaleX(-1);
}

.go-up{
  margin-top: -1em;
  margin-bottom: -1em;
}

.centering{
  text-align:center;
}

/*cut the bottom margin in figures*/
.quarto-figure{
  margin-bottom: 0px;
}

.zero-margin-bottom{
  margin-bottom: 0px;
}

.title{
  /* somehow need !important */
  font-size: 65px !important;
}

mjx-container[display="true"] {
  margin: .5em 0 ! important
}

.callout {
  font-size: 40px !important;
  border-width: 5px !important;
  border-left-width: 10px !important;
}

.reveal .slides .callout-title strong{
  color: black !important;
}

.reveal .callout.callout-titled .callout-title p{
  margin-top:.2em;
  margin-bottom:.2em;
}

.callout.callout-titled.callout-style-default .callout-content p {
  margin-top:.3em !important;
  line-height: 1.5em !important;
}

/* to prevent breaking words apart by wrapping with using <span>*/
.no-wrap{
  display: inline-block;
}

/*caption fig*/
.reveal .slides figcaption{
  text-align: center;
}
